ETL for the Data Set

1- Data Extraction

In [1]:
import pandas as pd
df = pd.read_csv("D:\Education\MSc - Data Sceince\Semester I\Course Work\CW- Portfolio\online_retail.csv", encoding="ISO-8859-1")
df.info()

<>:2: SyntaxWarning: invalid escape sequence '\E'
<>:2: SyntaxWarning: invalid escape sequence '\E'
C:\Users\Bihani\AppData\Local\Temp\ipykernel_4800\3284846511.py:2: SyntaxWarning: invalid escape sequence '\E'
  df = pd.read_csv("D:\Education\MSc - Data Sceince\Semester I\Course Work\CW- Portfolio\online_retail.csv", encoding="ISO-8859-1")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB

- Have missing values only in description and Customer ID
- Missing customer ID means we cant move forward with that data therefore we need to remove
Data types:
- InvoiceDate is object, needs conversion to datetime.
- CustomerID is float64, should be converted to integer.

In [2]:
df.head()

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

2- Data Preprocessing in ETL

In [3]:
import numpy as np

# Drop rows with missing CustomerID
df_cleaned = df.dropna(subset=['CustomerID'])

In [4]:
# Fill missing descriptions with "Unknown"
df_cleaned['Description'].fillna("Unknown", inplace=True)

C:\Users\Bihani\AppData\Local\Temp\ipykernel_4800\3426054815.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Description'].fillna("Unknown", inplace=True)
C:\Users\Bihani\AppData\Local\Temp\ipykernel_4800\3426054815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Description'].fillna("Unknown", inplace=True)

In [5]:
# Remove negative Quantity and UnitPrice
df_cleaned = df_cleaned[(df_cleaned['Quantity'] > 0) & (df_cleaned['UnitPrice'] > 0)]

3- Data Transformation

3.1 Data Type Conversion

In [6]:
# Convert InvoiceDate to datetime
df_cleaned['InvoiceDate'] = pd.to_datetime(df_cleaned['InvoiceDate'])

# Convert CustomerID to integer
df_cleaned['CustomerID'] = df_cleaned['CustomerID'].astype(int)